# Regex Notebook
### Uses functions written in regex.py

In [1]:
import regex

In [2]:
import pandas as pd
import numpy as np
import re

## 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [3]:
string1 = "asdfsdfsd452"
string2 = "p"
string3 = 'u'
string4 = 'E'
string5 = 'a ea'
string6 = 'a beat'

for i in [string1,string2,string3, string4, string5, string6]:
    x =  regex.is_vowel(i)
    print(x)

False
False
True
True
False
False

Function = is_vowel(string)

## 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
regex.is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [5]:
regex.is_valid_username('codeup')

True

In [6]:
regex.is_valid_username('Codeup')

False

In [7]:
regex.is_valid_username('codeup123')

True

In [8]:
regex.is_valid_username('1codeup')

False

In [9]:
regex.is_valid_username('r')

True

## 3. Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

##### This is freaking hard!  Will do a not fully excellent attempt, although with function should make it work:

In [10]:
n1 = '(210) 867 5309'
n2 = '+1 210.867.5309'
n3 = '867-5309'
n4 = '210-867-5309'
n5 = '+1 (23) 234 44322'
n6 = 'hsjdfh 34 3ih 23 2323'

In [22]:
# Regex that works for this, following RMcC walkthrough
# (\+?\d+)?.?(\(?\d{3}\)?)?.?\d{3}.\d{4}

In [11]:
re.findall(r'(\d\d\d+)',n5)

['234', '44322']

In [12]:
x = re.findall(r'(\d\d\d+)',n5)
if (len(x[-2]) > len(x[-1])):
    print('Fails last bigger than first')
    #return False
    
else: 
    for i in x:
        if (len(i) < 3):
            print('Fails, too small')
            #return False
        if (len(i) > 4):
            print('Fails, too big')
            #return False
        else:
            print('Good')
            #return True

Good
Fails, too big

In [13]:
for n in [n1,n2,n3,n4,n5,n6]:
    print(regex.phone_capture(n))

True
True
True
True
False
False

## 4. Use regular expressions to convert the dates below to the standardized year-month-day format:

In [23]:
datelist = ['02/04/19',
'02/05/19',
'02/06/19',
'02/07/19',
'02/08/19',
'02/09/19',
'02/10/19']

In [25]:
for d in datelist:
    if re.search(r'\d\d\/\d\d/\d\d',d):
        print(f'20{d[-2:]}-{d[:2]}-{d[3:5]}')

2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10

##### Very cool way of converting patterns using regex and pandas!:

In [26]:
datelist = pd.Series(datelist)
datelist

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [27]:
datelist.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2')

/var/folders/nw/8yyyyp8n70vbplhdsylyqs8c0000gn/T/ipykernel_18190/3852574326.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  datelist.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

## 5. Write a regex to extract the various parts of these logfile lines:

In [16]:
l1 = 'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'
l2 = 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'
l3 = 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'

In [17]:
logfiles = [l1,l2,l3]

In [41]:
logfiles = pd.Series(logfiles)

In [52]:
logfiles.str.extract(pattern, re.VERBOSE)

,method,path,timestamp,thing,thing2,memuse,something,ip
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,{200},510348,"""python-requests/2.21.0""",97.105.19.58
1,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,{201},42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58
2,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,{429},3561,"""python-requests/2.21.0""",97.105.19.58

In [51]:
pattern = r'''
^(?P<method>GET|POST)
\s
(?P<path>.+)
\s
(?P<timestamp>\[.*\])
\s
(?P<thing>.*)
\s
(?P<thing2>\{\d\d\d\})
\s
(?P<memuse>\d+)
\s
(?P<something>\".*\")
\s
(?P<ip>\d+.\d+.\d+.\d+)
'''

## BONUS - You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

In [49]:
df = pd.read_csv('/usr/share/dict/words', keep_default_na = False)

In [50]:
df

                 A
0                a
1               aa
2              aal
3            aalii
4              aam
...            ...
235880      zythem
235881      Zythia
235882      zythum
235883     Zyzomys
235884  Zyzzogeton

[235885 rows x 1 columns]

In [ ]:
- 
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

### a) How many words have at least 3 vowels?

In [59]:
df.A.values

array(['a', 'aa', 'aal', ..., 'zythum', 'Zyzomys', 'Zyzzogeton'],
      dtype=object)

In [70]:
for x in df.A.values:
    df['Q1 Match'] = re.search(r'[aeiouAEIOU]',x)

AttributeError: 're.Match' object has no attribute 'isnull'

In [68]:
df['Q1 Match'].value_counts()

False    235885
Name: Q1 Match, dtype: int64